CompileFlags:
  Add: [-std=c++17, -I/usr/include/AdaptiveCpp, -Wpedantic, -Wall, -Wextra, -Werror, -Wshadow, -Wdeprecated, -Wconversion]

Diagnostics:
  ClangTidy:
      Add: [
        modernize-*,
        performance-*,
        cppcoreguidelines-*,
        cert-*,
        readability-*,
        bugprone-*,
        misc-*,
        clang-*,
        clang-diagnostic-unused-parameter,
        concurrency-thread-canceltype-asynchronous,
        misc-include-cleaner,
        google-*,
        mpi-*,
      ]

      Remove: [
        modernize-use-trailing-return-type,
        cppcoreguidelines-pro-type-vararg,
        cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        cppcoreguidelines-special-member-functions,
        readability-uppercase-literal-suffix,
        modernize-avoid-c-arrays,
      ]
